<!DOCTYPE html>
<html>
<head>
<style>
.main-box{
    border:1px solid #04AA6D;
    margin: 10px 0px 10px 0px;
    height: 175px
}
.box-title{
    background-color:#04AA6D;
    padding:10px;
    color:#fff;
    font-weight:600;
}
.box-content{
    padding-left:10px;
    padding-right:10px;
}
.box-msg{
    font-weight:600;
}
</style>
</head>
<body>
	<div class = "container">
    	<div class="box"></div>
    </div>
    
    
<div class="main-box">
    <div class="box-title">
        Python
    </div>
    <div class="box-content">
        <p class="box-msg">Beginners</p>
    </div>
</div>
        
<div class="main-box">
    <div class="box-title">
        R
    </div>
    <div class="box-content">
        <p class="box-msg">Beginners</p>
    </div>
</div>

</body>
</html>
